  /*Kris Searching Bar CSS*/
  #searchBar{
    border: 1px solid #000000;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    outline: none;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
 }
 #searchBtn{
 border: 1px solid #000000;
 font-size: 16px;
 padding: 10px;
 background: #f1d829;
 font-weight: bold;
 float:none;
 cursor: pointer;
 outline: none;
 -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
  /*Yang Submission Form CSS*/
* {
    box-sizing: border-box;
  }
  
      h1{
      color: #CCCC33;
      background-color:#999999;
      text-align: center;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .review-list {
    text-align: left;
  }

  .review-list-item{
    padding: 10px;
    border-bottom:1px solid lightgray;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }